In [1]:
import pandas as pd

In [2]:
# Cria um dicionario com autores, preços e titulos

dictionary = {'Autores': ['J.R.R. Tolkien', 'Rick Riordan', 'Machado de Assis'],
              'Titulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Memorias Postumas de Bras Cubas'],
              'Preços': [41.2, 35.7, 40.5]}

In [3]:
## DataFrame

df = pd.DataFrame(dictionary)

In [4]:
df

            Autores                          Titulos  Preços
0    J.R.R. Tolkien                O Ladrão de Raios    41.2
1      Rick Riordan              A Sociedade do Anel    35.7
2  Machado de Assis  Memorias Postumas de Bras Cubas    40.5

In [5]:
df['Autores']

0      J.R.R. Tolkien
1        Rick Riordan
2    Machado de Assis
Name: Autores, dtype: object

In [6]:
df['Preços'].mean()

39.13333333333333